* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    top: 0;
    height: 48px;
    position: fixed;
    width: 100%;
    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: grey;
    padding: 0 10px;
}

aside {
    width: 224px;
    top: 48px;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: grey;
    position: fixed;
}

.content {
    padding-top: 48px;
    padding-left: 248px;
    height: 100vh;
}